.danhsachsanpham a{
    text-decoration: none;
    color: black;
}
.danhsachsanpham a:hover{
    text-decoration: underline;
}
.sneaker img{
    width: 250px;
    border-radius: 20px;
    padding-top: 10px ;
    
}
.shoes .sneaker a{
    font-size: 10pt;
    color: black;
    text-decoration: none;
    text-align: center;
    float: left;
    padding: 20px;

}
tr td{
    width: 30px;
    border-collapse: separate;
    text-align: center;
    
}
table{
    width: 300px;
    margin-right: 30px;
}

td:hover {
    background-color: rgb(131, 121, 121);
    transition: 1.5s;
}

footer img:hover{
    transition: none;
    transform: none;
}
footer img{
    width: 500px;
}
footer{
    background-color: #484848;
}
footer .product3{
    margin-left: 100px;
}
.sanpham .danhsach .danhsachgiay{
    text-align: center;
    width: 30%;
    margin: 20px 20px;
    display: inline-block;
}
.sanpham .danhsach .danhsachgiay img{
    max-width: 60%;
}
.danhsachgiay .p{
    text-align: center;
}

.danhsachgiay a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.danhsachgiay{
    margin-right: 90%;
}
.heading{
    font-size: 28px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 40px 0;
    position: relative;
}
.row{
    float: left;
    width: 100%;
}
header{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20%;
    height: 80px;
}
header nav ul li{
    list-style: none;
    float: left;
    padding: 10px 15px;
    font-size: 20px;
}
header nav ul li a{
    list-style: none;
    color: #000000;
    text-decoration: none;
    font-size: px;
}
header nav ul li a:hover{
    color: #000000;
    border-bottom: 2px solid rgb(230, 227, 227);
}